.Login_container {
    background-image: url('../shared/Images/visualsofdana-T5pL6ciEn-I-unsplash.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
  }
  body
  {
    background: transparent !important;
  }
  .Login_container .Title
  {
    color: cadetblue;
    background: black;
    border-radius: 40px;
    font-weight: 600;
    font-size: 30px;
  }
  
  .Login_container form {
    
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Login_container form  label {
    margin-bottom: 10px;
    color: honeydew;
    
  }
  
  .Login_container form  input {
    opacity: 0.8;
    padding: 8px;
    margin-left: 8px;
    color: darkblue;
    font-weight: 600;
  }
  
  .Login_container form  button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  .Login_container form  .login
  {
    position: relative;
    left: -75px;
  }
  .Login_container form  .signup
  {
    position: relative;
    top: -38px;
    left: 70px;
  }
  
  